{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col col-xl-7 my-auto text-center callout">
                <hr>
                <h1 class="my-4 display-2 callout-text">
                    Buy original <strong>paintings</strong> online
                </h1>
                <h2 class="my-4 display-5">
                    Galleriet, Sweden
                </h2>
                <div class="my-5">
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg text-uppercase py-2">Shop Now</a>
                </div>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}