html {
    height: 100%;
}

body {
    background: url('/media/background-image.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    font-weight: 300;
}

.logo-font i {
    background-color: #e53935 !important;
    color: #fff !important;
    border-radius: 20%;
    margin-right: 10px;
    padding: 10px;
}

.main-logo-link {
    width: fit-content;
}

.nav-item .nav-link:hover {
    color: rgba(0, 0, 0, 0.7) !important;
}

.dropdown .dropdown-menu {
    margin-top: 0;
 }

.dropdown:hover .dropdown-menu {
    display: block;
 }

 .dropdown-item:focus {
    background-color: rgba(216,216,218,1) !important;
    color: #000 !important;
 }

.callout {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,0) 100%);
}

.callout hr {
    background: rgb(226,226,228);
    background: linear-gradient(90deg, rgba(226,226,228,0) 0%, rgba(226,226,228,1) 50%, rgba(226,226,228,0) 100%);
    border: none;
    height: 5px;
    margin: 0;
}

.callout-text {
    max-width: 600px;
    margin: 0 auto;
}

.callout-text strong {
    color: rgba(0, 0, 0, 0.7);
}

.bg-banner {
    background: linear-gradient(180deg, rgba(226, 226, 228, 0.94) 0%, rgba(255, 255, 255) 100%) !important;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #e2e2e4e5;
	z-index: -1;
}

.card {
    height: fit-content !important;
}

.form-control:not[type='submit'] {
    color: #000 !important;
}

.form-control:focus, .custom-select:focus {
    box-shadow: 0 0 4px !important;
    color: #000 !important;
}

.shop-now-button {
    background: #d32f2f;
    color: white;
    min-width: 150px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-red {
    background: #d32f2f;
    color: white !important;
    border: 1px solid #d32f2f !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-red:hover,
.btn-red:active,
.btn-red:focus {
    background: white;
    color: #d32f2f !important;
    border: 1px solid #d32f2f !important;
}

.text-black {
    color: #000 !important;
}

.text-red {
    color: #d32f2f !important;
}

.border-black {
    border: 1px solid black !important;
}

.border-grey {
    border: 1px solid #8e8e8e !important;
  }

.bg-black {
    background: #000 !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 112px;
    right: 20px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 40px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #333;
}

.allauth-form-inner-content input {
    border-color: #8e8e8e;
}

.allauth-form-inner-content input:focus {
    border-color: #8e8e8e;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #d32f2f;
    border: 1px solid #d32f2f;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 4px;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #d32f2f;
    background-color: #fff;
    border-color: #d32f2f;
}

.allauth-form-inner-content a {
	color: #d32f2f;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}