body {
    background: url('/media/background-image.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
}

/* -------------------------------- Navigation */

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
    font-weight: 300;
}

.logo-font i {
    background-color: #e53935 !important;
    color: #fff !important;
    border-radius: 20%;
    margin-right: 10px;
    padding: 10px;
}

.main-logo-link {
    width: fit-content;
}

.nav-item .nav-link:hover {
    color: rgba(0, 0, 0, 0.7) !important;
}

.dropdown .dropdown-menu {
    margin-top: 0;
 }

.dropdown:hover .dropdown-menu {
    display: block;
 }

 .dropdown-item:focus,
 .dropdown-item:active {
    background-color: rgba(216,216,218,1) !important;
    color: #000 !important;
 }

 .bg-banner {
    background: linear-gradient(180deg, rgba(226, 226, 228, 0.94) 0%, rgba(255, 255, 255) 100%) !important;
}

 /* -------------------------------- Callout */

 .callout-container {
    margin-top: -150px;
 }

.callout {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,0) 100%);
}

.callout hr {
    background: rgb(226,226,228);
    background: linear-gradient(90deg, rgba(226,226,228,0) 0%, rgba(226,226,228,1) 50%, rgba(226,226,228,0) 100%);
    border: none;
    height: 5px;
    margin: 0;
}

.callout-text {
    max-width: 600px;
    margin: 0 auto;
}

.callout-text strong {
    color: rgba(0, 0, 0, 0.7);
}

 /* -------------------------------- Recent products */

 .recent-products {
    margin-top: -100px;
    margin-bottom: 150px !important;
}

.recent-products .card {
    width: 18rem;
}

.image-container {
    position: relative;
}

.image-new-flash {
    position: absolute;
    bottom: 70%;
    min-width: 30%;
    left: -22px;
    background-color: #db3633;
    padding-right: 10px;
    border-top-left-radius: 4px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-side {
    width: 0; 
    height: 0; 
    position: absolute;
    top: 38px;
    right: 62px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #982523;
    transform: rotate(-45deg);
}

 /* -------------------------------- Featurette */

 .featurette {
    margin-top: -50px;
    text-align: center;
    z-index: 100;
    background-color: #F9FAFC;
    border-top: 5px solid #E2E2E4;
}

.featurette .container {
    color: #616161;
    margin-top: -55px;
}

.featurette .col i {
    color: #616161;
    font-size: 2.5em;
    border-radius: 50%;
    padding: 30px;
    background-color: #F9FAFC;
    margin-bottom: 10px;
    border: 5px solid #E2E2E4;
}

 /* -------------------------------- General style */

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #e2e2e4e5;
	z-index: -1;
}

.card {
    height: fit-content !important;
}

.card img {
    height: 100%;
    width: 100%;
}

.image-container .card-img-top {
    height: 100%;
    width: 100%;
}

.form-control:not[type='submit'] {
    color: #000 !important;
}

.form-control:focus, .custom-select:focus {
    box-shadow: 0 0 4px !important;
    color: #000 !important;
    border: 1px solid white;
}

/* ------------------------------- Buttons and colours */

.shop-now-button {
    background: #d32f2f;
    color: white;
    min-width: 150px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-red {
    background: #d32f2f;
    color: white !important;
    border: 1px solid #d32f2f !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-red:hover,
.btn-red:active,
.btn-red:focus {
    background: white;
    color: #d32f2f !important;
    border: 1px solid #d32f2f !important;
}

.btn-grey {
    background: white;
    color: #555 !important;
    border: 1px solid #555 !important;
}

.btn-grey:hover,
.btn-grey:active,
.btn-grey:focus {
    background: #555;
    color: white !important;
    border: 1px solid #555 !important;
}

.text-black {
    color: #000 !important;
}

.text-red {
    color: #d32f2f !important;
}

.border-black {
    border: 1px solid black !important;
}

.border-grey {
    border: 1px solid #8e8e8e !important;
  }

.bg-black {
    background: #000 !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none !important;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* ------------------------------- Footer */

footer {
    background: linear-gradient(180deg, rgba(198, 40, 40,1) 0%, rgba(183, 28, 28) 100%);
}

footer .fa-g {
    background-color: #fff !important;
    color: #e53935 !important;
    border-radius: 20%;
    margin-right: 10px;
    padding: 10px;
}

/* ------------------------------- Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* ------------------------------- Bootstrap toasts */

.message-container {
    position: fixed;
    top: 121px;
    right: 20px;
    z-index: 99999999999;
    animation: SlideDown .5s ease-in forwards;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 50%;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #333;
}

.allauth-form-inner-content input {
    border-color: #8e8e8e;
}

.allauth-form-inner-content input:focus {
    border-color: #8e8e8e;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #d32f2f;
    border: 1px solid #d32f2f;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 4px;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #d32f2f;
    background-color: #fff;
    border-color: #d32f2f;
}

.allauth-form-inner-content a {
	color: #d32f2f;
}

/* -------------------------------- Animations */

@keyframes SlideDown {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    100% {
        transform: translateY(10px);
        opacity: 1;
    }
}

/* -------------------------------- Media Queries */

/* Bootstrap xxl class */
@media (min-width: 1400px) {
    .d-xxl-block {
        display: block !important;
    }
}

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}

@media screen and (max-width: 500px) {
    .callout h1 {
        font-size: 4em !important;
    }

    .callout h2 {
        font-size: 1.5em !important;
    }

    .bg-banner h4 {
        font-size: 1.2em !important;
    }

    .nav-link h2 {
        font-size: 1.5em !important;
    }

    .nav-link {
        padding-left: 0 !important;
    }

    .nav-link .text-center > * {
        font-size: 0.8em !important; 
    }
}

@media screen and (max-width: 400px) {
    .callout h1 {
        font-size: 2.5em !important;
        margin-top: 100px !important;
    }

    .callout h2 {
        font-size: 1.5em !important;
    }
}