{% load static %}

<!doctype html>
<html lang="en" class="h-100">

<head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#F9FAFC">
    <meta name="description" content="Galleriet, Buy original paintings online">
    <meta name="keywords"
        content="galleriet, gallery, paintings, paintings online, artists, art, unique art, original paintings, art store">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css"
        integrity="sha384-/frq1SRXYH/bSyou/HUp/hib7RVN1TawQYja658FEOodR/FQBKVqT9Ol+Oz3Olq5" crossorigin="anonymous" />
    <link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
        integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous">
    </script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Galleriet - {% block extra_title %}{% endblock %} Buy original paintings online</title>
</head>

<body class="d-flex flex-column h-100">
    <!-- Header -->
    <header class="container-fluid fixed-top shadow-sm {% if '/' == request.path %} shadow {% endif %}">
        <div id="delivery-banner" class="row text-center">
            <div class="col bg-banner text-black">
                <h4 class="logo-font my-1"><span class="text-red">&#10003;</span> Free delivery on orders over
                    €{{ free_delivery_threshold }}</h4>
            </div>
        </div>
        <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <h2 class="logo-font text-black my-0"><i class="fa-solid fa-g">|</i> <strong>Galleriet</strong></h2>
                </a>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control border border-grey" type="text" name="q"
                            placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="form-control btn btn-red border-0" type="submit"
                                aria-label="Search our site">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="text-black nav-link" href="#" id="user-option" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-lg"></i></div>
                                {% if request.user.is_authenticated %}
                                <p class="my-0 text-capitalize">{{ request.user }}</p>
                                {% else %}
                                <p class="my-0">My Account</p>
                                {% endif %}
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right border-0" aria-labelledby="user-option">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-black nav-link" href="{% url 'view_bag' %}">
                            <div class="text-center">
                                <div class="position-relative">
                                    <i class="fas fa-shopping-bag fa-lg"></i><span
                                        class="text-white position-absolute top-0 start-100 translate-middle badge border border-light rounded-pill p-1 {% if grand_total %}bg-danger{% else %}bg-secondary{% endif %}">{{ product_count }}</span>
                                </div>
                                <p class="my-0">
                                    {% if grand_total %}
                                    €{{ grand_total|floatformat:2 }}
                                    {% else %}
                                    €0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row bg-white d-flex">
            <nav class="navbar navbar-expand-lg navbar-light w-100 my-auto">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                    aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a href="{% url 'home' %}" class="nav-link main-logo-link d-block d-lg-none mx-auto">
                    <h2 class="logo-font text-black my-0"><i class="fa-solid fa-g">|</i> <strong>Galleriet</strong></h2>
                </a>
                <!-- Mobile header  -->
                {% include 'includes/mobile-top-header.html' %}
                <!-- Main navigation  -->
                {% include 'includes/main-nav.html' %}
            </nav>
        </div>
    </header>

    <!-- Flash messages  -->
    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
        {% with message.level as level %}
        {% if level == 40 %}
        {% include 'includes/toasts/toast_error.html' %}
        {% elif level == 30 %}
        {% include 'includes/toasts/toast_warning.html' %}
        {% elif level == 25 %}
        {% include 'includes/toasts/toast_success.html' %}
        {% else %}
        {% include 'includes/toasts/toast_info.html' %}
        {% endif %}
        {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    <!-- Main content -->
    <main class="mb-5">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Featurette section  -->
    <section class="featurette mt-auto shadow-sm {% if '/' == request.path %} shadow-lg {% endif %}">
        <div class="container">
            <div class="row">
                <div class="col">
                    <i class="fas fa-palette"></i>
                    <h3>Quality paintings</h3>
                    <hr>
                    <p>From the best emerging artists around the world</p>
                </div>
                <div class="col">
                    <i class="fas fa-truck"></i>
                    <h3>Safe shipping</h3>
                    <hr>
                    <p>Free delivery on orders over €100</p>
                </div>
                <div class="col d-none d-sm-block">
                    <i class="fas fa-rotate-left"></i>
                    <h3>Return Guarantee</h3>
                    <hr>
                    <p>Within 14 days after delivery</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container mb-3">
            <div class="row">
                <div class="col py-4">
                    <p class="h2 text-white"><small><i class="fa-solid fa-g">|</i></small> Galleriet</p>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6">
                    <p class="h4">Subscribe to our newsletter</p>
                    <!-- Begin Mailchimp Signup Form -->
                    <div id="mc_embed_signup">
                        <form
                            action="https://herokuapp.us12.list-manage.com/subscribe/post?u=7f21d616c43cbf25e65daff16&amp;id=a775003581&amp;f_id=0011bae0f0"
                            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                            class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                                <div class="mc-field-group">
                                    <label for="mce-EMAIL">Email Address</label>
                                    <input type="email" value="" name="EMAIL" placeholder="Your email adress"
                                        class="required email" id="mce-EMAIL" required>
                                    <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                                </div>
                                <div id="mce-responses" class="clear foot">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                </div>
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                        name="b_7f21d616c43cbf25e65daff16_a775003581" tabindex="-1" value=""></div>
                                <div class="optionalParent">
                                    <div class="clear foot">
                                        <input type="submit" value="Subscribe" name="subscribe"
                                            id="mc-embedded-subscribe" class="button">
                                        <p class="brandingLogo"><a href="http://eepurl.com/iceasr"
                                                title="Mailchimp - email marketing made easy and fun"><img
                                                    src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_light_dtp.svg"></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--End mc_embed_signup-->
                    <hr class="d-block d-lg-none">
                </div>
                <div class="col-12 col-lg-2">
                    <p class="h4">About</p>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'contact' %}" class="text-white">Contact</a></li>
                        <li><a href="{% url 'privacy_policy' %}" class="text-white">Privacy Policy</a></li>
                    </ul>
                    <hr class="d-block d-lg-none">
                </div>
                <div class="col-12 col-lg-4">
                    <p class="h4">Social</p>
                    <p>Keep up to date with all our latest paintings</p>
                    <a href="https://www.facebook.com/people/Galleriet/100086925295277/" target="_blank" rel="noopener"
                        aria-label="Visit our Facebook page (Opens in a new tab)"
                        class="btn btn-lg btn-link bg-white"><i class="fab fa-facebook-square"></i> Visit our Facebook
                        page</a>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <hr>
                    <p class="m-0">This website is for educational purposes only</p>
                    <span>Made by mittnamnkenny</span>
                    <a href="https://github.com/mittnamnkenny/" target="_blank" rel="noopener"
                        aria-label="Visit my GitHub page (Opens in a new tab)" class="badge btn btn-grey"><i
                            class="fa-brands fa-github"></i> Visit my GitHub page</a>
                </div>
            </div>
        </div>
    </footer>

    {% block postloadjs %}
    <!-- Flash messages -->
    <script type="text/javascript">
        $('.toast').toast('show');
    </script>

    <!-- Mailchimp -->
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'>
    </script>
    <script type='text/javascript'>
        (function ($) {
            window.fnames = new Array();
            window.ftypes = new Array();
            fnames[0] = 'EMAIL';
            ftypes[0] = 'email';
            fnames[1] = 'FNAME';
            ftypes[1] = 'text';
            fnames[2] = 'LNAME';
            ftypes[2] = 'text';
            fnames[3] = 'ADDRESS';
            ftypes[3] = 'address';
            fnames[4] = 'PHONE';
            ftypes[4] = 'phone';
            fnames[5] = 'BIRTHDAY';
            ftypes[5] = 'birthday';
        }(jQuery));
        var $mcj = jQuery.noConflict(true);
    </script>
    {% endblock %}

</body>

</html>